Template: @@NAME@@/add-devai-repo
Type: boolean
Default: true
Description: Add DEV-AI Suite apt repository?
 The installer would like to add the DEV-AI Suite repository and signing
 key to update DEV-AI Suite through apt.
