[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=AI-Powered Development Suite
GenericName=IDE
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=devai;dev-ai;ide;ai;development;
